@import "tailwindcss";

:root {
    --bg-color: #131313;
    --side-color: #1b1b1b;
    --button-color: #202020;
    --button-hover-color: #2f2f2f;
    @apply text-white;
}

body {
    @apply p-8;
    background-color: var(--bg-color);
}

h1 {
    @apply text-3xl;
}
