@import "tailwindcss";

:root {
    --bg-color: white;
    --side-color: #f5f5f5;
    --button-color: #f0f4f9;
    --button-active-color: #dfe3e7;
    --selected-color: #c2e7ff;
    --text-selected-color: #004a77;
    --text-selected-color-lighter: #005e98;
    --text-color: #1f1f1f;
    --component-color: #f0f4f9;
    --darker-component-color: #dbe6f4;
    --border-color: #c2c8ce;
    color: var(--text-color);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

:root[data-theme="dark"] {
    --bg-color: #131313;
    --side-color: #1b1b1b;
    --button-color: #202020;
    --button-active-color: #2f2f2f;
    @apply text-white;
}

body {
    background-color: var(--side-color);
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply font-bold text-lg;
}

h4 {
    @apply font-bold;
}

button {
    @apply cursor-pointer;
}

input {
    @apply bg-white border border-(--border-color) rounded-lg text-xl px-4;
}

a {
    @apply hover:underline text-blue-500;
}
